html, body {
  margin:0;
  padding:0;
  overflow:hidden;
}

svg {
  position:fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

canvas {
  position:fixed;
  top:0;
  left:0;
}

.score-text {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%
}

.fixation-point {
  fill: #ffffff;
  stroke: #000000; 
  stroke-width: 1;
}

.cue-empty {
 fill: none;
 stroke: #FFFFFF;
 stroke-width: 1px;
}

.cue-fill {
  fill: #FFFFFF;
  stroke: #FFFFFF;
  stroke-width: 1px;
}

.probe-empty {
 fill: none;
 stroke: yellow;
 stroke-width: 1px;
}

.probe-fill {
  fill: yellow;
  stroke: yellow;
  stroke-width: 1px;
}